{% extends 'base/base.html'%}
{% block title %}Contratos{% endblock %}
{% block Apartado%}
<div class="alert alert-secondary" role="alert">
  <h4 style=" text-align: center;">Contratos</h4>
</div>
 {%endblock%} 
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
    <a href="{%url 'constructora:contrato'%}" class="list-group-item list-group-item-action">Contrato</a>
</div>
{%endblock%}  

{% block contenido %}

<div style="display:inline-block">

</div>
{% if contrato %}
<form method="GET" name="form1">
{% csrf_token %}
<div id="buscadorEmpleado" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input style="width: 70%" id="buscarInput" name="buscarInput" class="form-control mr-sm-2" type="search" placeholder="Atributo" aria-label="Search">
                <button id="buscar" name="buscar" class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    </nav>
            
</div>



</form>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        
        
        
        <th scope="col" style="width:10%" class="centrarCol">Nombre de empleado</th>
        <th scope="col" style="width:10%" class="centrarCol">Descripcion</th>
        <th scope="col" style="width:15%" class="centrarCol">Fecha de contratacion</th>
        <th scope="col" style="width:10%" class="centrarCol">Periodo de contratacion</th>
        
      </tr>
    </thead>
    <tbody>
      
      {%for e in contrato %}
      {%for c in empleado %}
      {% if c.id == e.empleado_id %}
      
      
      
        <tr>

          
          
          <td class="centrarCol">{{c.nombres}},{{c.apellidos}}</td>
          <td class="centrarCol">{{e.descripcion}}</td>
          <td class="centrarCol">{{e.fechaContratacion}}</td>
          <td class="centrarCol">{{e.periodoContrato}}</td>
          
          
        </tr>
        {% endif %}
        {%endfor%}
        {%endfor%}
        {% else %}
          <div class="alert alert-primary" role="alert">
            <h4 style=" text-align: center;">¡No existen registros de Contratos!</h4>
          </div>
        {% endif %}
        
      
    </tbody>
  </table>


{% endblock %}
