{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Empleados</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="" class="list-group-item list-group-item-action">Empleados</a>
    <a href="http://127.0.0.1:8000/empleados/NuevoEmpleado/" class="list-group-item list-group-item-action">Nuevo empleado</a>
</div>
{%endblock%}  

{% block contenido %}

{% endblock %}