{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Empleados</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
</div>
{%endblock%}  

{% block contenido %}
<div class= "container">
	<div class= "row">
		<section class="col-md-12">
			<div class= "container">
				<form method="POST" name="form1">
					{% csrf_token %}		
					<fieldset class="groupbox">
               		 	<legend >Nuevo Empleado</legend>
	                    <div class="row">
	                        <div class="col-md-6" ">
	                        	<div>
	                                <label>Nombre: </label>
	                                <br/>
	                                <input type="text" id="nombreEmpleado" name="nombreEmpleado" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>
								<div>
	                                <label>Apellidos: </label>
	                                <br/>
	                                <input type="text" id="apellidosEmpleado" name="apellidosEmpleado" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>
			         			<div>
	                                <label>Direccion: </label>
	                                <br/>
	                                <input type="text" id="direccion" name="direccion" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>
			         			<div>
	                                <label>Numero de telefono: </label>
	                                <br/>
	                                <input type="text" id="telefono" name="telefono" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>
			         			<div>
	                                <label>Dui: </label>
	                                <br/>
	                                <input type="text" id="dui" name="dui" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>
			         			<div>
	                                <label>Nit: </label>
	                                <br/>
	                                <input type="text" id="nit" name="nit" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>	         
			         			<div>
	                                <label>Isss: </label>
	                                <br/>
	                                <input type="text" id="isss" name="isss" required minlength="1" maxlength="20" size="40" />		
                            	</div>		                        
			         			<br/>	  
			         			
			         			<br/>	  
	                        </div>
	        
		                    <div class="col-md-6">
		                        <div>
	                                <label>Descripcion de contrato: </label>
	                                <br/>
	                                <textarea rows="10" cols="50">

									</textarea>
                            	</div>		                        
			         			<br/>	  
			         			<div>
	                                <label>Fecha contrato: </label>
	                                <br/>
	                                <input type="date" id="fecha" name="fecha" required />		
                            	</div>		                        
			         			<br/>	
			         			<div>
	                                <label>Fecha de finalizacion: </label>
	                                <br/>
	                                <input type="date" id="fechaF" name="fechaF" required  />		
                            	</div>		                        
			         			<br/>	
		                    </div>
	        
	                	</div>
	                 </fieldset>			                 			         			         				         	
	                 <br/>		                    
            
            
        
                    <div class="btnAñadir">
                        <input class="btn btn-success" style="margin-left:10%" type="submit" value="Guardar">
                        <input class="btn btn-primary" style="margin-left:10%" type="reset" value="Resetear">
                    </div>
               	                
		        </form>        
			</div>		
		</section>
	</div>	
	</div>
{% endblock %}