{% extends 'base/base.html'%}
{% block title %}Empleados{% endblock %}
{% block Apartado%} 
<div class="alert alert-secondary" role="alert">
  <h4 style=" text-align: center;">Eliminar empleado</h4>
</div>
{% endblock %}


{% block contenido %}




<form method="post">
	{% csrf_token %}
	<h2>¿Desea eliminar el registro de {{ empleado.nombres }}?</h2>
	<button type="submit" class="btn btn-danger">Sí, eliminar</button>
	<a href="{% url 'constructora:empleado' %}" class="btn btn-warning">Cancelar</a> 
</form>
{% endblock %}