{% extends 'base/base.html'%}
{% block title %}Empleados{% endblock %}
{% block Apartado%} 
<div class="alert alert-secondary" role="alert">
  <h4 style=" text-align: center;">Empleados</h4>
</div>
{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
    <a href="{%url 'constructora:contrato'%}" class="list-group-item list-group-item-action">Contrato</a>
</div>
{%endblock%}  

{% block contenido %}

<div style="display:inline-block">

</div>
{% if empleados %}
<form method="GET" name="form1">
{% csrf_token %}
<div id="buscadorEmpleado" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input style="width: 70%" id="buscarInput" name="buscarInput" class="form-control mr-sm-2" type="search" placeholder="Atributo" aria-label="Search">
            
                <button id="buscar" name="buscar" class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    </nav>
            
</div>


</form>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:30%" class="centrarCol">Nombre completo</th>
        
        
        <th scope="col" style="width:8%" class="centrarCol">telefono</th>
        <th scope="col" style="width:10%" class="centrarCol">Dui</th>
        <th scope="col" style="width:15%" class="centrarCol">Nit</th>
        <th scope="col" style="width:8%" class="centrarCol">Isss</th>
        <th scope="col" style="width:80%" class="centrarCol">Accion</th>
      </tr>
    </thead>
    <tbody>
      
      {%for e in empleados %}
        <tr>

          <td class="centrarCol">{{e.nombres}}, {{e.apellidos}}</td>
          
          
          <td class="centrarCol">{{e.numTelefono}}</td>
          <td class="centrarCol">{{e.dui}}</td>
          <td class="centrarCol">{{e.nit}}</td>
          <td class="centrarCol">{{e.isss}}</td>
          <td class="centrarCol">            

          <a class="btn btn-primary" href="{% url 'constructora:editarEmpleado' e.id %} ">Editar</a>
          <a class="btn btn-danger" href="{% url 'constructora:eliminarEmpleado' e.id %}">Eliminar</a>
          </td>
          
        </tr>
        {%endfor%}
        {% else %}
        
          <div class="alert alert-primary" role="alert">
            
            <h4 style=" text-align: center;">¡No existen registros de empleados!</h4>
          </div>
          
          
        
        
        
        {% endif %}
        
      
    </tbody>
  </table>


{% endblock %}
