{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Empleados</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
</div>
{%endblock%}  

{% block contenido %}

<div style="display:inline-block">

</div>

<div id="buscadorEmpleado" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Empleado" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    </nav>
            
</div>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:10%" class="centrarCol">Nombre</th>
        <th scope="col"style="width:15%" class="centrarCol">Apellido</th>
        <th scope="col"style="width:15%" class="centrarCol">Direccion</th>
        <th scope="col" style="width:40%" class="centrarCol">Numero telefono</th>
        <th scope="col" colspan='2'style="width:25%" class="centrarCol">Dui</th>
        <th scope="col" colspan='2'style="width:25%" class="centrarCol">Nit</th>
        <th scope="col" colspan='2'style="width:25%" class="centrarCol">Isss</th>
      </tr>
    </thead>
    <tbody>
      {%for e in empleados %}
        <tr>
          <td valign="middle">{{e.nombres}}</td>
          <td valign="middle">{{e.apellidos}}</td>
          <td valign="middle">{{e.direccion}}</td>
          <td valign="middle">{{e.numTelefono}}</td>
          <td valign="middle">{{e.dui}}</td>
          <td valign="middle">{{e.nit}}</td>
          <td valign="middle">{{e.isss}}</td>
          
        </tr>
        {%endfor%}
        
      
    </tbody>
  </table>


{% endblock %}
