{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Empleados</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
</div>
{%endblock%}  

{% block contenido %}

<div style="display:inline-block">

</div>
{% if empleados %}
<div id="buscadorEmpleado" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Empleado" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    </nav>
            
</div>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:35%" class="centrarCol">Nombre completo</th>
        
        
        <th scope="col" style="width:10%" class="centrarCol">telefono</th>
        <th scope="col" style="width:10%" class="centrarCol">Dui</th>
        <th scope="col" style="width:10%" class="centrarCol">Nit</th>
        <th scope="col" style="width:10%" class="centrarCol">Isss</th>
        <th scope="col" style="width:80%" class="centrarCol">Accion</th>
      </tr>
    </thead>
    <tbody>
      
      {%for e in empleados %}
        <tr>

          <td class="centrarCol">{{e.nombres}}, {{e.apellidos}}</td>
          
          
          <td class="centrarCol">{{e.numTelefono}}</td>
          <td class="centrarCol">{{e.dui}}</td>
          <td class="centrarCol">{{e.nit}}</td>
          <td class="centrarCol">{{e.isss}}</td>
          <td class="centrarCol">            

          <a class="btn btn-primary" href="{% url 'constructora:editarEmpleado' e.id %} ">Editar</a>
          <a class="btn btn-danger" href="{% url 'constructora:eliminarEmpleado' e.id %}" ">Eliminar</a>
          </td>
          
        </tr>
        {%endfor%}
        {% else %}
        <h2>No hay registros de Empleados</h2>
        {% endif %}
        
      
    </tbody>
  </table>


{% endblock %}
