{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Asignación de Recursos</h4>{% endblock %}
{%block links%}

{% block tagbody %} 
<body onUnLoad="resetearpaginaAsignacion()"> {% endblock %}

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{% url 'constructora:busquedaProyecto' %}" class="list-group-item list-group-item-action">Buscar Proyecto</a>
    <a href="{% url 'constructora:nuevoProyecto' %}"class="list-group-item list-group-item-action">Nuevo Proyecto</a>
</div>
{%endblock%}  

{% block contenido %}

<div class="row"> 
    <div class="col-md-4" class="cajasAñadir">

      <form method="POST">
            {%csrf_token%}
        <fieldset class="groupbox">
            <legend > Empleado</legend>
            <div style="width: 100%; ">
                    <label for="">Elija un Empleado</label><br>
                    <select required class="form-control" name="selectEmpleado" id="selectEmpleado" onchange="habilitarEmpleado()">
                        <option></option>
                        {%for e in empleados%}
                        <option value="{{e.id}}" >{{e.nombres}}  {{e.apellidos}}</option>
                        {%endfor%}
                    </select>
                 </div> <br>
                 <div style="width: 100%; ">
                        <label for="">Elija un Puesto</label><br>
                        <select required class="form-control" name="selectPuesto" id="selectPuesto" onchange="habilitarPuesto()">
                            <option></option>
                            {%for p in puestos%}
                            <option value="{{p.id}}">{{p.nombrePuesto}}</option>
                            {%endfor%}
                        </select><br>
                        <label  required>Ingrese un salario</label>
                        <input required type="text" id="inputSalario" name="inputSalario"  style="width: 100%">

                     </div> <br>
            <div class="btnAñadir">
                <input class="btn btn-primary" name="btnEmpleado" style="margin-left:10%" type="submit" value="Asignar">
            </div>
        </fieldset>
    </form>  
    </div>
    <div class="col-md-4">
      <form method="POST">
            {%csrf_token%}
        <fieldset class="groupbox">
            <legend > Bien Material</legend>
            <div style="width: 100% ">
                    <label for="">Elija un Recurso</label><br>
                    <select required class="form-control" class="ElejirRecurso" name="selectRecurso" id="selectRecurso" onchange="habilitarRecurso()">
                        <option></option>
                        {%for r in recursos%}
                        <option value="{{r.codigoRecurso}}">{{r.nombreRecurso}} </option>
                        {%endfor%}
                    </select>
                 </div> <br>
                 <div style="width: 100%">
                        <label for="">Elija un Ejemplar</label><br>
                        <div >
                        <select required id="selectEjemplar" name="selectEjemplar" class="form-control"onchange="habilitarEjemplares()">
                        <div id="ejemplaresT">
                        </div>
                        </select>
                     </div> 
                    </div><br> <!--fin de div para ajax-->
            <div class="btnAñadir">
                    <input class="btn btn-primary" name="btnEjemplar" style="margin-left:10%" type="submit" value="Asignar">
                </div>
        </fieldset>
    </form>  
    </div> <br>
    <div class="col-md-4" >
         <form method="POST">
            {%csrf_token%}
            <fieldset class="groupbox" >
                <legend > Herramientas</legend>
                <div style="width: 100%; ">
                        <label for="">Elija Herramienta</label><br>
                        <select required class="form-control" name="selectHerramienta" id="selectHerramienta" onchange="HabilitarHerra()">
                            <option></option>
                            {%for h in herramientas%}
                            <option value="{{h.codigoHerramienta}}" >{{h.nombreHerramienta}} </option>
                            {%endfor%}
                        </select>
                     </div> <br>
                     <div style="width: 100%; ">
                            <label for="">Cantidad</label><br>
                            <input required  type="text" id="inputCantidad" name="inputCantidad"  style="width: 100%">
                         </div> <br>
                <div class="btnAñadir">
                  <input class="btn btn-primary" name="btnHerramienta" style="margin-left:10%" type="submit" value="Asignar">
                </div>
            </fieldset>
        </form>  
        </div>
</div>

<br>

{%if esMenor%}
        <div class="alert alert-danger" role="alert">
                ¡Ingrese una cantidad menor de herramientas!
              </div>
{%endif%}

<div id="pruuueba"></div>


<div id="RecursosAñadidos" >
<hr><h4 id="recursoAñadido">Recursos añadidos</h4><hr>
<div class="recursosAsignar" >
    <div id="tablaa" style="text-align: center;">
        
        {% if empA %}

            <div class="alert alert-primary" role="alert">
                   Empleados Asignados
                  </div>
            <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" style="width:" class="centrarCol">#</th>
                        <th scope="col"style="width:" class="centrarCol">Nombre Empleado</th>
                        <th scope="col"style="width:" class="centrarCol">Cargo</th>
                        <th scope="col" style="width:" class="centrarCol">Salario</th>
                        <th scope="col" style="widt:" class="centrarCol">Acción</th>

                    </tr>
                    </thead>
                    <tbody>
                      {%for e in empA %}
                        <tr>
                          <td>{{forloop.counter }}</td>
                          <td>{{e.empleado.nombres}} {{e.empleado.apellidos}}</td>
                          <td>{{e.puesto.nombrePuesto}}</td>
                          <td>{{e.salario}}   </td>
                          <td>
                            <div>
                              <form method="POST">
                                        {% csrf_token %}

                                        <input type="hidden" name="recurso" value="{{ e.id }}"> 

                                        <input type="hidden" name="elimEmpleado" value="{{ e.id }}"> 
                                        <a class="btn btn-danger" href="" data-toggle="modal" data-target="#modal_{{ e.id }}">Eliminar</a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modal_{{ e.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                ¿Esta seguro de eliminar al Empleado: <b>{{e.empleado.nombres}} {{e.empleado.apellidos}} ?</b>
                                              </div>
                                              <div class="modal-footer">
                                                <input class="btn btn-danger" type="submit" name="accionE" value="Eliminar">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                     </form>
                            </div>
                          </td>
                    </tr> 
                        {%endfor%}
                    </tbody>
                  </table>

        {%else%}       
        
        <div class="alert alert-danger" role="alert">
                ¡NO HAY EMPLEADOS ASIGNADOS!
              </div>

        {%endif%}

        {%if maqA %}
            
                  <div class="alert alert-primary" role="alert">
                        Maquinarias Asignadas
                       </div>

                       <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col" style="width:" class="centrarCol">#</th>
                                <th scope="col"style="width:" class="centrarCol">Tipo Recurso</th>
                                <th scope="col"style="width:" class="centrarCol">Recurso</th>
                                <th scope="col" style="width:" class="centrarCol">Ejemplar</th>
                                <th scope="col" style="width:" class="centrarCol">Descripcion Recurso</th>
                                <th scope="col" style="widt:" class="centrarCol">Acción</th>
        
                            </tr>
                            </thead>
                            <tbody>
                              {%for m in maqA %}
                                <tr>
                                  <td>{{forloop.counter }}</td>
                                  <td>Ejemplar</td>
                                  <td>{{m.ejemplar.idRecurso.nombreRecurso}}  </td>
                                  <td>{{m.ejemplar.nombreEjemplar}}</td>
                                  <td> {{m.ejemplar.idRecurso.descripcionRecurso}} </td>
                                  <td> 
                                      <div>
                                          <form method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="elimRec" value="{{ m.id }}"> 
                                                    <a class="btn btn-danger" href="" data-toggle="modal" data-target="#modal_{{ m.id }}">Eliminar</a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal_{{ m.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                            ¿Esta seguro de eliminar al ejemplar con código: <b>{{m.ejemplar.codigoEjemplar}} ?</b>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <input class="btn btn-danger" type="submit" name="accionR" value="Eliminar">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                 </form>
                                        </div>
                                  </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                          </table>
            {%else%}
            <div class="alert alert-danger" role="alert">
                    ¡NO HAY MAQUINARIAS ASIGNADAS!
                  </div>

            {%endif%}

                          {% if herrA %}

                       <div class="alert alert-primary" role="alert">
                            Herramientas Asignados
                           </div>

                           <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col" style="width:" class="centrarCol">#</th>
                                    <th scope="col"style="width:" class="centrarCol">Tipo Recurso</th>
                                    <th scope="col"style="width:" class="centrarCol">Nombre</th>
                                    <th scope="col" style="width:" class="centrarCol">Cantidad Asignada</th>
                                    <th scope="col" style="widt:" class="centrarCol">Acción</th>
            
                                </tr>
                                </thead>
                                <tbody>
                                  {%for h in herrA %}
                                    <tr>
                                      <td>{{forloop.counter }}</td>
                                      <td>Herramienta</td>
                                      <td>{{h.Herramienta.nombreHerramienta}}</td>
                                      <td>{{h.cantidadAsignada}}</td>
                                      <td>  
                                          <div>
                                              <form method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="elimHerr" value="{{ h.id }}"> 
                                                        <a class="btn btn-danger" href="" data-toggle="modal" data-target="#modal_{{ h.id }}">Eliminar</a>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="modal_{{ h.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                       <div class="modal-body">
                                                            ¿Esta seguro de eliminar la Herramienta con código: <b>{{h.Herramienta.codigoHerramienta}} ?</b>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <input class="btn btn-danger" type="submit" name="accionH" value="Eliminar">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                          </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                     </form>
                                            </div>
                                      </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                              </table>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                                ¡NO HAY HERRAMIENTAS ASIGNADAS!
                              </div>

                        {% endif %}


    </div><!--fin de ajax-->

</div> <!--fin de recursos asignar-->
</div><!--fin de recursosasignados-->
{%endblock%} 
