{% extends 'base/base.html'%}
 
{% block Apartado%} <h4 style=" text-align: center;">Asistencias</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>

    <a href="{% url 'constructora:RecursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
     <a href="{% url 'constructora:recursosEmpleado' %}" class="list-group-item list-group-item-action">Empleados del Proyecto</a>
    <a href="{% url 'constructora:Asistencia' %}" class="list-group-item list-group-item-action">Asistencias</a>
  </div>
{%endblock%}  

{% block contenido %}
<table class= "table table-bordered">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>apellidos</td>
			<td>Puesto</td>
			<td>Proyecto</td>
			<td>Fecha</td>
			<td>Asistencia</td>
		</tr>
	</thead>
	<tbody>
		{% if asistencias %}
		{% for asistencia in asistencias %}		
		<tr>
			<td>{{asistencia.Asignacion.empleado.nombres}}</td>
			<td>{{asistencia.Asignacion.empleado.apellidos}}</td>
			<td>{{asistencia.Asignacion.puesto}}</td>
			<td>{{asistencia.Asignacion.proyecto}}</td>
			<td>{{asistencia.fechaAsistencia}}</td>
			<td>{{asistencia.asistencia}}</td>
		</tr>
	</tbody>
	{% endfor %}
	{% else %}
		{% if asistencias == 'None'%}
		<div class="alert alert-primary" role="alert">
            
            <h4 style=" text-align: center;">¡_Usted no esta asignado en ningun proyecto !</h4>
          </div>
        {% else %}
          <div class="alert alert-primary" role="alert">
            
            <h4 style=" text-align: center;">¡No existen registros de asistencias!</h4>
          </div>
          {% endif %}
		}
	{% endif %}
</table>

{%endblock%}  