{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">PROYECTOS</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>
    <a href="{% url 'constructora:busquedaProyecto' %}"  class="list-group-item list-group-item-action">Buscar Proyecto</a>
    <a href="{% url 'constructora:nuevoProyecto' %}"class="list-group-item list-group-item-action">Nuevo Proyecto</a>
    <a href="{% url 'constructora:solicitud' %}"  class="list-group-item list-group-item-action">Solicitudes Pendientes</a>

  </div>
{%endblock%}   
 
{% block contenido %}
<div style="display:inline-block">

</div>

<div id="buscadorProyecto" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline"   >
            <input class="form-control mr-sm-2" style="width: 70%" id="buscarInput" name="buscarInput" type="search" placeholder="Proyecto" aria-label="Search">
            <button id="buscar" name="buscar" class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
       </form> 
    </nav>
            
</div>
<br>
<br>

{% if proyectos %}
<div style="text-align: center;">


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:10%" class="centrarCol">Codigo</th>
        <th scope="col"style="width:15%" class="centrarCol">Nombre</th>
        <th scope="col"style="width:15%" class="centrarCol">Cliente</th>
        <th scope="col" style="width:40%" class="centrarCol">Descripción</th>
        <th scope="col" colspan='2'style="width:25%" class="centrarCol">Acción</th>
      </tr>
    </thead>
    <tbody>
      {%for p in proyectos%}
        <tr>
          <td>{{p.codigoProyecto}}</td>
          <td>{{p.nombreProyecto}}</td>
          <td>{{p.idCliente.nombreCliente}}</td>
          <td>{{p.descripcionProyecto}}</td>
          <td>    <a href="{% url 'constructora:editarProyecto' p.id %}"  class="btn btn-warning">Editar</a></td>
          <td>    <a class="btn btn-primary" href="{% url 'constructora:asignacionRecurso'  p.id  %}" >Asignar</a></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>

{%else%}
<div class="alert alert-danger" role="alert">
  ¡No se ha creado ningún proyecto!
</div>

</div>
{%endif%}


{% endblock %}