{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">PROYECTOS</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>
    <a href="http://127.0.0.1:8000/proyectos/busquedaProyecto/" class="list-group-item list-group-item-action">Buscar Proyecto</a>
    <a href="http://127.0.0.1:8000/proyectos/edicionProyecto/" class="list-group-item list-group-item-action">Nuevo Proyecto</a>

  </div>
{%endblock%}  

{% block contenido %}
<div style="display:inline-block">

</div>

<div id="buscadorProyecto" style="display:inline-block">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Proyecto" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    </nav>
            
</div>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:10%" class="centrarCol">Codigo</th>
        <th scope="col"style="width:15%" class="centrarCol">Nombre</th>
        <th scope="col"style="width:15%" class="centrarCol">Cliente</th>
        <th scope="col" style="width:40%" class="centrarCol">Descripción</th>
        <th scope="col" colspan='2'style="width:25%" class="centrarCol">Acción</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>001</td>
          <td>Proyecto xx</td>
          <td>Cliente 01</td>
          <td>Estoesunejemplklnvxcvns lkslffffffffffffffff skvndfjvks.d kmfmlskkdfjjjjjo</td>
          <td>    <a href="http://127.0.0.1:8000/proyectos/edicionProyecto/" class="btn btn-primary">Editar</a></td>
          <td>    <a class="btn btn-warning" href="http://127.0.0.1:8000/proyectos/asignacionRecurso/" >Asignar</a></td>
        </tr>
 
    </tbody>
  </table>

{% endblock %}