{% extends 'base/base.html'%}

{% block Apartado%} <h4 style=" text-align: center;">Detalle Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>
    <a href="#" class="list-group-item list-group-item-action">Buscar</a>
    <a href="#" class="list-group-item list-group-item-action">Otro enlace</a>
    <a href="#" class="list-group-item list-group-item-action">Enlace3</a>
    <a href="#" class="list-group-item list-group-item-action">Enlace4</a>
  </div>
{%endblock%}  

{% block contenido %}

{%endblock%}  