{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Actualizar Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="http://127.0.0.1:8000/proyectos/busquedaProyecto/" class="list-group-item list-group-item-action">Buscar Proyecto</a>
    <a href="http://127.0.0.1:8000/proyectos/edicionProyecto/" class="list-group-item list-group-item-action">Nuevo Proyecto</a>
</div>
{%endblock%}  

{% block contenido %}

{%endblock%} 