{% extends 'base/base.html'%}

{%block scripts%}

{%endblock%}
{% block Apartado%} <h4 style=" text-align: center;">Actualizar Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{% url 'constructora:busquedaProyecto' %}" class="list-group-item list-group-item-action">Buscar Proyecto</a>
    <a href="{% url 'constructora:nuevoProyecto' %}" class="list-group-item list-group-item-action">Nuevo Proyecto</a>
</div>
{%endblock%}  

{% block contenido %}

<div class="col-md-12" class="cajas">
        <form action="" method="POST">
                {%csrf_token%}
            <fieldset class="groupbox">
                <legend >Detalles Proyecto</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label for="">Elija un cliente</label><br>
                                <select class="form-control" name="selectCliente" id="exampleFormControlSelect1">
                                        <option>{{proyecto.idCliente.nombreCliente}}</option>
                                        {%for c in clientes%}
                                        <option>{{c.nombreCliente}}</option>
                                        {%endfor%}
                                      </select>
                            </div>
                            <div > <br>
                                <label for="">Código del Proyecto</label> 
                                <input type="text" id="codPro" name="codPro" value="{{proyecto.codigoProyecto}}" style="width: 100%" disabled >
                            </div>
                            <div > <br>
                                <label for="">Nombre del Proyecto</label> 
                                <input type="text" id="nombrePro" name="nombrePro" value="{{proyecto.nombreProyecto}}" style="width: 100%">
                            </div>
                            <div><br>
                                <label>Fecha de inicio</label>
                                <input type="text" name="fechaInicio" value="{{proyecto.fechaInicioConstruccion}}" disabled style="width: 100%">
                            </div>                    
                        </div>
        
                        <div class="col-md-6">
                            <div>
                                <label for="">Descripcion</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1"  name="descripcion" rows="3" placeholder="">{{proyecto.descripcionProyecto}} </textarea>

                            </div>
                            <div >  <br>        
                                <label for="" >Dirección</label> 
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="ubicacion" placeholder="">{{proyecto.ubicacion}} </textarea>

                            </div>                    
                        </div>
        
                            </div>                    
                        </div>
                    </div> <br>
        
                    <div class="btnAñadir">
                        <input class="btn btn-success" style="margin-left:10%" type="submit" href="{% url 'constructora:busquedaProyecto'%}" value="Guardar">
                        <a class="btn btn-secondary" href="{% url 'constructora:busquedaProyecto'%}" role="button">Regresar</a>   
                    </div>
                </fieldset>
        </form>{{nombre}}
        </div> <!--fin cajas-->
{%endblock%} 