{% extends 'base/base.html'%}
 
{% block Apartado%} <h4 style=" text-align: center;">Recursos del Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>
    <a href="{% url 'constructora:verProyecto' %}"  class="list-group-item list-group-item-action">Datos del Proyecto</a>
    <a href="{% url 'constructora:recursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
    <a href="{% url 'constructora:solicitarRecursos' %}" class="list-group-item list-group-item-action">Solicitar Recursos</a>
  </div>
{%endblock%}  

{% block contenido %}
<table class = "table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Proyecto</td>
			<td>Herramienta</td>
			<td>Cantidad</td>
			<td>Fecha de Asignacion</td>
			<td>Fecha disponible</td>			
		</tr>
	</thead>
	<tbody>
		{% if ejemplares %}
		{% for ejemplar in ejemplares  %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ ejemplar.idProyecto}}</td>
			<td>{{ ejemplar.Herramienta}}</td>
			<td>{{ ejemplar.cantidadAsignada }}</td>
			<td>{{ ejemplar.fechaAsignacion }}</td>
			<td>{{ ejemplar.fechaDisponible }}</td>
		
		</tr>
		 	{% endfor %}
		 	{% else %}
		 	<div class="alert alert-danger" role="alert">
                ¡NO HAY RECURSOS ASIGNADOS!
              </div>
			{% endif %}	 	
	</tbody>

<br>	
<table class = "table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>cantidad</td>
			<td>Fecha de asignacion</td>
			<td>Fecha disponible</td>
		</tr>
	</thead>
	<tbody>
		{% if tools %}
		{% for tool in tools  %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ tool.ejemplar.nombreEjemplar }}</td>
			<td>{{ tool.idProyecto.nombreProyecto }}</td>			
			<td>{{ tool.fechaAsignacion }}</td>
			<td>{{ tool.fechaDisponible }}</td>
		</tr>
		 	{% endfor %}
		 	{% else %}
		 	<div class="alert alert-danger" role="alert">
                ¡NO HAY HERRAMIENTAS ASIGNADAS!
              </div>
	{% endif %}	 	
	</tbody>
{%endblock%}  