{% extends 'base/base.html'%}
 
{% block Apartado%} <h4 style=" text-align: center;">Recursos del Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">
      Lista de enlaces
    </a>
    <a href="{% url 'constructora:verProyecto' %}"  class="list-group-item list-group-item-action">Datos del Proyecto</a>
    <a href="{% url 'constructora:RecursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
    <a href="{% url 'constructora:recursosEmpleado' %}" class="list-group-item list-group-item-action">Empleados del Proyecto</a>
    <a href="{% url 'constructora:solicitarRecursos' %}" class="list-group-item list-group-item-action">Solicitar Recursos</a>
  </div>
{%endblock%}  
 
{% block contenido %}
<table class = "table table-bordered">
	<thead>
		{% if ejemplar %}
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Proyecto</td>
			<td>Fecha de asignacion</td>
			<td>Fecha disponible</td>
			<td>activo</td>
		</tr>
	</thead>
	<tbody>
		
		{% for ejem in ejemplar  %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ ejem.ejemplar.idRecurso }}</td>
			<td>{{ ejem.idProyecto_id }}</td>			
			<td>{{ ejem.fechaAsignacion }}</td>
			<td>{{ ejem.fechaDisponible }}</td>
			<td>{{ ejem.activo}}</td>
			<td><a class="btn btn-danger" href="{% url 'constructora:CambioActivo1' ejem.id %}">Cambiar Estado</a>
		</tr>
		 	{% endfor %}
		 	{% else %}
		 	<div class="alert alert-danger" role="alert">
                ¡NO HAY RECURSOS ASIGNADOS!
              </div>
			{% endif %}	 	
	</tbody>

	
<table class = "table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Proyecto</td>
			<td>Herramienta</td>
			<td>Cantidad</td>
			<td>Fecha de Asignacion</td>
			<td>Fecha disponible</td>
			<td>activo</td>	
		</tr>
	</thead>
	<tbody>
		{% if tools %}
		{% for tool in tools  %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ tool.idProyecto}}</td>
			<td>{{ tool.Herramienta}}</td>
			<td>{{ tool.cantidadAsignada }}</td>
			<td>{{ tool.fechaAsignacion }}</td>
			<td>{{ tool.fechaDisponible }}</td>
			<td>{{ tool.activo }}</td>
			<td><a class="btn btn-danger" href="{% url 'constructora:CambioActivo2' tool.id %}">Cambiar Estado</a>
		</tr>
		 	{% endfor %}
		 	{% else %}
		 		{% if tools == 'None'%}
		 		<div class="alert alert-danger" role="alert">
                ¡Usted no esta asignado a ningun proyecto!
              </div>
              {% else %}
		 	<div class="alert alert-danger" role="alert">
                ¡NO HAY HERRAMIENTAS ASIGNADAS!
              </div>
             {% endif %}
	{% endif %}	 	
	</tbody>
{%endblock%}  

				