{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Solicitar Recursos</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{% url 'constructora:verProyecto' %}"  class="list-group-item list-group-item-action">Datos del Proyecto</a>
    <a href="{% url 'constructora:recursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
    <a href="{% url 'constructora:solicitarRecursos' %}" class="list-group-item list-group-item-action">Solicitar Recursos</a>
</div>
{%endblock%}  

{% block contenido %}
<div class="col-md-12" class="cajas">
    <form action="POST">
            {%csrf_token%}
    <fieldset class="groupboxSolicitar" style="margin-left: 20%">
        <legend >Pedir nuevos recursos</legend>
            <div class="row" id="divSolicitar">
                <div class="col-md-12">
                    <div>
                            <label for="">Tipo de Recurso</label>
                            <select required class="form-control" name="selectTipoRecurso" id="selectTipoRecurso" onchange="CambioTipoRecurso()">
                                <option></option>
                                <option value=1>Puesto</option>
                                <option value=2>Maquinaria</option>
                                <option value=3>Herramienta</option>
                            </select>
                            <br>
                        </div>
                        <div>
                            <label for="">Recurso Disponibles</label>
                            <select required class="form-control" name="selectRecDisponible" id="selectRecDisponible" >
                                    <option></option>  
                            </select>
                            <br>
                        </div>
                        <div id="cantidadHerramientaSolicitar" style="display: none">
                            <label for="">Cantidad</label>
                            <input required style="width: 100%" type="text">
                        </div>

                </div><!--fin col 10-->

            </div> <br>

            <div class="btnAñadir"><br>
                <a class="btn btn-success" onclick="SolicitarRecurso()" >Solicitar</a>                
                <input class="btn btn-primary" style="margin-left:8%" type="reset" value="Resetear">
            </div>
        </fieldset>
    </form>
    </div> <!--fin cajas-->

<div id="ejemplo"></div>
    <div id="RecursosSolicitados" >
        <hr><h4 id="elementoSolicitados">Recursos a solicitar</h4><hr>

        <div class="alert alert-primary" role="alert">
               Puestos Solicitados
               </div>
            <div id="tablaa">
                <form method="POST">
                        {%csrf_token%}
                    <div id="Solicitar1" >
                            <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col" style="width:10%" class="centrarCol">Tipo</th>
                                        <th scope="col"style="width:15%" class="centrarCol">Codigo Puesto</th>
                                        <th scope="col"style="width:15%" class="centrarCol">Puesto</th>
                                        <th scope="col" style="width:40%" class="centrarCol">Descripción</th>
                                        <th scope="col" style="width:25%" class="centrarCol">Acción</th>
                                      </tr>
                                    </thead>
                                    <tbody >
                                     
                                        <tr id="tbodyPuesto">
          
                                        </tr>
                                     
                                    </tbody>
                                  </table>
                    </div>

                </form>
    
     <div class="alert alert-primary" role="alert"> Recursos Solicitados
    </div>

    <div class="alert alert-primary" role="alert"> Herramientas Solicitadas
        </div>
                    <div id="tablaa">
            </div>

    </div>
             
{%endblock%} 