{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Solicitar Recursos</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{% url 'constructora:verProyecto' %}"  class="list-group-item list-group-item-action">Datos del Proyecto</a>
    <a href="{% url 'constructora:recursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
    <a href="{% url 'constructora:solicitarRecursos' %}" class="list-group-item list-group-item-action">Solicitar Recursos</a>
</div>
{%endblock%}  

{% block contenido %}
<div class="col-md-12" class="cajas">
    <form action="POST">
            {%csrf_token%}
    <fieldset class="groupboxSolicitar" style="margin-left: 20%">
        <legend >Pedir nuevos recursos</legend>
            <div class="row" id="divSolicitar">
                <div class="col-md-12">
                    <div>
                            <label for="">Tipo de Recurso</label>
                            <select required class="form-control" name="selectTipoRecurso" id="selectTipoRecurso" onchange="CambioTipoRecurso()">
                                <option></option>
                                <option>Empleado</option>
                                <option>Maquinaria</option>
                                <option>Herramienta</option>
                            </select>
                            <br>
                        </div>
                        <div>
                            <label for="">Recurso Disponibles</label>
                            <select required class="form-control" name="selectRecDisponible" id="selectRecDisponible" onchange="CambioRecDisponible()">
                                    <option></option>  
                                <option>fdf</option>
                            </select>
                            <br>
                        </div>
                        <div style="display: none">
                          <label for="">Ejemplares Disponibles</label>
                          <select required class="form-control" name="selectRecDisponible" id="selectRecDisponible" onchange="CambioEjemplares()">
                                <option></option>  
                                <option></option>
                          </select>
                          <br>
                        </div>
                        <div style="display: none">
                            <label for="">Cantidad</label>
                            <input required style="width: 100%" type="text">
                        </div>

                </div><!--fin col 10-->

            </div> <br>

            <div class="btnAñadir"><br>
                <input class="btn btn-primary" name="btnSolicitar" style="margin-left:8%" type="submit" value="Solicitar" >
                <input class="btn btn-primary" style="margin-left:8%" type="reset" value="Resetear">
            </div>
        </fieldset>
    </form>
    </div> <!--fin cajas-->

    <br><hr><h4 id="recursoAñadido">Recursos a solicitar</h4><hr>


    <div class="recursosAsignar">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width:9%" class="centrarCol">#</th>
                        <th scope="col" style="width:25%" class="centrarCol">Tipo de Recurso</th>
                        <th scope="col" style="width:25%" class="centrarCol">Recurso</th>
                        <th scope="col" style="width:30%" class="centrarCol">Tarea</th>
                        <th scope="col" style="width:30%" class="centrarCol">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Empleado</td>
                        <td>Soldador</td>
                        <td>Soldar 100 vigas</td>
                        <td> <input class="btn btn-danger" type="button" data-toggle="modal" data-target="" value="Eliminar"></td>
        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Maquina</td>
                        <td>Tractor industrial</td>
                        <td>Movilizar ripio</td>
                        <td> <input class="btn btn-danger" type="button" data-toggle="modal" data-target="" value="Eliminar"></td>
        
                    </tr>
                </tbody>
            </table>
            <div class="btnAñadir">
                <button type="button" class="btn btn-success">Solicitar Recursos</button>
            </div>
        </div>    

{%endblock%} 