{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Datos Generales del Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
   
    <a href="{% url 'constructora:Asistencia' %}" class="list-group-item list-group-item-action">Asistencias</a>
     <a href="{% url 'constructora:RecursosProyecto' %}"  class="list-group-item list-group-item-action">Recursos del proyecto</a>
    <a href="{% url 'constructora:recursosEmpleado' %}" class="list-group-item list-group-item-action">Empleados del Proyecto</a>
    <a href="{% url 'constructora:solicitarRecursos' %}" class="list-group-item list-group-item-action">Solicitar Recursos</a></div>
{%endblock%}  

{% block contenido %}
<table class="table table-bordered">
	<thead>
		{% if Asig2 %}
	<tr>
		<td>Cliente</td>
		<td>Codigo</td>
		<td>Descripcion</td>
		<td>Ubicacion</td>
		<td>Fecha de inicio</td>
		<td>Fecha de finalizacion</td>
	</tr>
	</thead>
	<tbody>
		
		<tr>
			<td>{{ Asig2.idCliente }}</td>
			<td>{{ Asig2.codigoProyecto }}</td>
			<td>{{ Asig2.descripcionProyecto}}</td>
			<td>{{ Asig2.ubicacion}}</td>
			<td>{{ Asig2.fechaInicioConstruccion }}</td>
			<td>{{ Asig2.fechaFinalizacion }}</td>
		</tr>
		
		{% else %}
		
		<div class="alert alert-danger" role="alert">
                ¡Usted no esta asignado a un proyecto!
       
         {% endif %}
	</tbody>
	
</table>

{%endblock%} 