{% extends 'base/base.html'%}
{% block Apartado%} <h4 style=" text-align: center;">Detalles Proyecto</h4>{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="http://127.0.0.1:8000/proyectos/verProyecto/" class="list-group-item list-group-item-action">Detalles Proyecto</a>
    <a href="http://127.0.0.1:8000/proyectos/solicitarRecursos/" class="list-group-item list-group-item-action">Solicitar Recursos</a>
</div>
{%endblock%}  

{% block contenido %}

{%endblock%} 