{% extends 'base/base.html' %}
{% block title %}Herramientas {% endblock %}
{% block Apartado%} <h4 style=" text-align: center;">HERRAMIENTAS</h4>{% endblock %}
{% block cuerpo %}

<div class="row">
	<div class="col" id="buscadorHerramienta" style="display:inline-block">
	    <nav class="navbar navbar-light bg-light" style="width: 57%">
	        <form class="form-inline">
	            <input style="width: 70%" id="buscarInput" name="buscarInput" class="form-control mr-sm-2" type="search" placeholder="Atributo" aria-label="Search">
	            
	                <button id="buscar" name="buscar" class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
	        </form> 
	    </nav>
	    <br>           
	</div>
	<div class="col" align="right">
		<br>
		<div class="container">
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="herramienta" value=""> 
				<a href="" class="btn btn-success" data-toggle="modal" data-target="#modal_herramienta">
					<span class="fas fa-plus"></span>Agregar
				</a>

				<!--Modal -->
				<div class="modal fade" id="modal_herramienta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Agregar Herramienta</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        
					
					<div class="row">		
						<div class="row">		
							<div class="col">				
								<div class="form-group"">
									{% if form %}
									{%for element in form %} 
					                <div class="form-group"> 
					                    <label class="col-md-12 control-label">
					                        {{element.label}}            
					                    </label> 
					                    <div class="col-md-12"> 
					                        {{element}} 
					                        <div class="error">
					                            {{element.errors}}
					                        </div>
					                    </div> 
					                </div> 
					                {% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				
				      </div>
				      <div class="modal-footer">
				        <input class="btn btn-primary" type="submit" name="accion" value="Agregar">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				      </div>
				    </div>
				  </div>
				</div>
			</form>
		</div>
	</div>
	<br>

</div>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="table table-hover table-bordered">
			<tr class="table-success">
				<td class="font-weight-bold">Codigo</td>
				<td class="font-weight-bold">Nombre</td>
				<td class="font-weight-bold">Cantidad</td>
				<td class="font-weight-bold">Disponibles</td>
				<td class="font-weight-bold">Descripcion</td>
				<td class="font-weight-bold">Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% if herramientas %}
			{% for herramienta in herramientas %}
			<tr class="text-justify">
				<td>{{ herramienta.codigoHerramienta }}</td>
				<td>{{ herramienta.nombreHerramienta }}</td>
				<td>{{ herramienta.cantidadHerramienta }}</td>
				<td>{{ herramienta.canatidadDisponibles }}</td>
				<td>{{ herramienta.descripcionHerramienta }}</td>
				<td>
					<div>
						<form method="post" id="{{ herramienta.codigoHerramienta }}">
							{% csrf_token %}
							<input type="hidden" name="herramienta" value="{{ herramienta.codigoHerramienta }}"> 
			                <a href="" data-toggle="modal" data-target="#Modificar_{{ herramienta.codigoHerramienta }}">Modificar</a>
							<!--Modal -->
							<div class="modal fade" id="Modificar_{{ herramienta.codigoHerramienta }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Modificar Herramienta</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        
									<div class="row">		
										<div class="row">		
											<div class="col">				
												<div class="form-group"">
									                 
									                 <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Código            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <input type="text" readonly="readonly" name="codigoHerramienta" value="{{ herramienta.codigoHerramienta }}" class="form-control" id="id_codigoEjemplar" maxlength="10" placeholder="Escriba el Código de la Herramienta" required=""> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div>

									                <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Nombre            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <input type="text" name="nombreHerramienta" value="{{ herramienta.nombreHerramienta }}" required="" class="form-control" id="id_nombreHerramienta" maxlength="15" placeholder="Escriba el Nombre de la Herramienta"> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div> 
									                 
									                <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Cantidad de herramientas            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <input type="number" name="cantidadHerramienta" value="{{ herramienta.cantidadHerramienta }}" required="" class="form-control" onfocus="restar('{{ herramienta.cantidadHerramienta }}','{{ herramienta.canatidadDisponibles }}','{{ herramienta.codigoHerramienta }}')" min="0" id="id_cantidadHerramienta" placeholder="Escriba el numero de Herramientas"> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div> 
									                 
									                <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Descripcion            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <textarea name="descripcionHerramienta" placeholder="Escriba la descripción de la Herramienta" required="" class="form-control" rows="3" id="id_descripcionHerramienta" cols="40" maxlength="100">{{ herramienta.descripcionHerramienta }}</textarea> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div>
												</div>
											</div>
										</div>
									</div>
							
							      </div>
							      <div class="modal-footer">
							        <input class="btn btn-primary" type="submit" name="accion" value="Modificar">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							      </div>
							    </div>
							  </div>
							</div>
						</form>
					</div>
					<div>
						<form method="POST">
			                {% csrf_token %}
			                <input type="hidden" name="herramienta" value="{{ herramienta.codigoHerramienta }}"> 
			                <a href="" data-toggle="modal" data-target="#Eliminar_{{ herramienta.codigoHerramienta }}">Eliminar</a>
			                <!-- Modal -->
			                <div class="modal fade" id="Eliminar_{{ herramienta.codigoHerramienta }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			                  <div class="modal-dialog" role="document">
			                    <div class="modal-content">
			                      <div class="modal-header">
			                        <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                          <span aria-hidden="true">&times;</span>
			                        </button>
			                      </div>
			                      <div class="modal-body">
			                        ¿Esta seguro de eliminar la Herramienta con codigo <b>{{ herramienta.codigoHerramienta }}?</b>
			                      </div>
			                      <div class="modal-footer">
			                        <input class="btn btn-danger" type="submit" name="accion" value="Eliminar">
			                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			             </form>
					</div>
				</td>
			</tr>
			{% endfor %}

			{% else %}
			<div class="alert alert-danger" role="alert">
			  ¡No se ha creado ningúna Herramienta!
			</div>
			{% endif %}
		</tbody>
	</table>

</div>
<script type="text/javascript">
	function restar(num_1,num_2,cod_her){
		var num_1=parseInt(num_1);
		var num_2=parseInt(num_2);
		var cod = cod_her;
		var min=num_1 - num_2;
		document.getElementById(cod).cantidadHerramienta.min=min;
	}
</script>
{% endblock %}