{% extends 'base/base.html' %}
{% block title %}Recursos {% endblock %}
{% block contenido %}
<div class="table-responsive">
	<a href="{% url 'constructora:agregarRecurso' %}" class="btn btn-success">
        <span class="fas fa-plus"></span> Agregar
    </a>
    <br><br>
	<table class="table table-hover table-bordered">
		<thead class="table table-hover table-bordered">
			<tr class="table-success">
				<td class="font-weight-bold">Codigo</td>
				<td class="font-weight-bold">Nombre</td>
				<td class="font-weight-bold">Tipo</td>
				<td class="font-weight-bold">Descripcion</td>
				<td class="font-weight-bold">Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% if recursos %}
			{% for recurso in recursos %}
			<tr class="text-justify">
				<td>{{ recurso.codigoRecurso }}</td>
				<td>{{ recurso.nombreRecurso }}</td>
				<td>{{ recurso.tipoRecurso }}</td>
				<td>{{ recurso.descripcionRecurso }}</td>
				<td>
					<a href="{% url 'constructora:ejemplarList' recurso.pk %}">Ejemplares</a>
					<br>
					<a href="{% url 'constructora:modificarRecurso' recurso.pk %}">Modificar</a>
					<br>
					<div>
						<form method="POST">
			                {% csrf_token %}
			                <input type="hidden" name="recurso" value="{{ recurso.codigoRecurso }}"> 
			                <a href="" data-toggle="modal" data-target="#{{ recurso.codigoRecurso }}">Eliminar</a>
			                <!-- Modal -->
			                <div class="modal fade" id="{{ recurso.codigoRecurso }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			                  <div class="modal-dialog" role="document">
			                    <div class="modal-content">
			                      <div class="modal-header">
			                        <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                          <span aria-hidden="true">&times;</span>
			                        </button>
			                      </div>
			                      <div class="modal-body">
			                        ¿Esta seguro de eliminar el Recurso con codigo <b>{{ recurso.codigoRecurso }}?</b>
			                      </div>
			                      <div class="modal-footer">
			                        <input class="btn btn-danger" type="submit" name="accion" value="Eliminar">
			                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			             </form>
					</div>
				</td>
			</tr>
			{% endfor %}

			{% else %}
			<h2>No hay registros de recursos</h2>
			{% endif %}
		</tbody>
	</table>

</div>


{% endblock %}
