{% extends 'base/base.html' %}
{% block title %}Ejemplares {% endblock %}
{% block Apartado%} <h4 style=" text-align: center;">EJEMPLARES</h4>{% endblock %}
{% block cuerpo %}
<div>
	<div class="col">
			<h5>Codigo del Recurso: {{ recurso.codigoRecurso }}</h6>
	    	<h5>Nombre: {{ recurso.nombreRecurso }}</h6>
	    	<h5>Tipo: {{ recurso.tipoRecurso }}</h6>
	    	<br>
		</div>
	<div class="row">
		<div class="col" id="buscadorEjemplar" style="display:inline-block">
		    <nav class="navbar navbar-light bg-light" style="width: 57%">
		        <form class="form-inline">
		            <input style="width: 70%" id="buscarInput" name="buscarInput" class="form-control mr-sm-2" type="search" placeholder="Atributo" aria-label="Search">
		            
		                <button id="buscar" name="buscar" class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
		        </form> 
		    </nav>
		    <br>           
		</div>
		<div class="col" align="right">
			<br>
			<div class="container">
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="recurso" value="{{ recurso.codigoRecurso }}"> 
					<a href="" class="btn btn-success" data-toggle="modal" data-target="#Agregar_{{ recurso.codigoRecurso }}">
						<span class="fas fa-plus"></span>Agregar
					</a>
					<!--Modal -->
					<div class="modal fade" id="Agregar_{{ recurso.codigoRecurso }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Agregar Ejemplar</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        
						
						<div class="row">		
							<div class="row">		
								<div class="col">				
									<div class="form-group"">
										{% if form %}
										{%for element in form %} 
						                <div class="form-group"> 
						                    <label class="col-md-12 control-label">
						                        {{element.label}}            
						                    </label> 
						                    <div class="col-md-12"> 
						                        {{element}} 
						                        <div class="error">
						                            {{element.errors}}
						                        </div>
						                    </div> 
						                </div> 
						                {% endfor %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					
					      </div>
					      <div class="modal-footer">
					        <input class="btn btn-primary" type="submit" name="accion" value="Agregar">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					      </div>
					    </div>
					  </div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<table class="table table-hover table-bordered">
		<thead class="table table-hover table-bordered">
			<tr class="table-success">
				<td class="font-weight-bold">Codigo</td>
				<td class="font-weight-bold">Nombre</td>
				<td class="font-weight-bold">Descripcion</td>
				<td class="font-weight-bold">Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% if ejemplares %}
			{% for ejemplar in ejemplares %}
			<tr class="text-justify">
				<td>{{ ejemplar.codigoEjemplar }}</td>
				<td>{{ ejemplar.nombreEjemplar }}</td>
				<td>{{ ejemplar.descripcionEjemplar }}</td>
				<td>
					<div>
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="ejemplar" value="{{ ejemplar.codigoEjemplar }}"> 
			                <a href="" data-toggle="modal" data-target="#Modificar_{{ ejemplar.codigoEjemplar }}">Modificar</a>
							<!--Modal -->
							<div class="modal fade" id="Modificar_{{ ejemplar.codigoEjemplar }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Modificar Ejemplar</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        
									<div class="row">		
										<div class="row">		
											<div class="col">				
												<div class="form-group"">
													<div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Código            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <input type="text" readonly="readonly" name="codigoEjemplar" value="{{ ejemplar.codigoEjemplar }}" class="form-control" id="id_codigoEjemplar" maxlength="10" placeholder="Escriba el Código del Ejemplar" required=""> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div> 
						                 
									                <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Nombre            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <input type="text" name="nombreEjemplar" value="{{ ejemplar.nombreEjemplar }}" class="form-control" id="id_nombreEjemplar" maxlength="25" placeholder="Escriba el Nombre del Ejemplar" required=""> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div> 
						                 
									                <div class="form-group"> 
									                    <label class="col-md-12 control-label">
									                        Descripcion            
									                    </label> 
									                    <div class="col-md-12"> 
									                        <textarea name="descripcionEjemplar" cols="40" id="id_descripcionEjemplar" required="" class="form-control" maxlength="100" rows="3" placeholder="Escriba la descripción del Ejemplar">{{ ejemplar.descripcionEjemplar }}</textarea> 
									                        <div class="error">
									                            
									                        </div>
									                    </div> 
									                </div>
												</div>
											</div>
										</div>
									</div>
							
							      </div>
							      <div class="modal-footer">
							        <input class="btn btn-primary" type="submit" name="accion" value="Modificar">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							      </div>
							    </div>
							  </div>
							</div>
						</form>
					</div>
					<div>
						<form method="POST">
			                {% csrf_token %}
			                <input type="hidden" name="ejemplar" value="{{ ejemplar.codigoEjemplar }}"> 
			                <a href="" data-toggle="modal" data-target="#Eliminar_{{ ejemplar.codigoEjemplar }}">Eliminar</a>
			                <!-- Modal -->
			                <div class="modal fade" id="Eliminar_{{ ejemplar.codigoEjemplar }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			                  <div class="modal-dialog" role="document">
			                    <div class="modal-content">
			                      <div class="modal-header">
			                        <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                          <span aria-hidden="true">&times;</span>
			                        </button>
			                      </div>
			                      <div class="modal-body">
			                        ¿Esta seguro de eliminar el Ejemplar con codigo <b>{{ ejemplar.codigoEjemplar }}?</b>
			                      </div>
			                      <div class="modal-footer">
			                        <input class="btn btn-danger" type="submit" name="accion" value="Eliminar">
			                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			             </form>
					</div>
				</td>
			</tr>
			{% endfor %}

			{% else %}
			<div class="alert alert-danger" role="alert">
			  ¡No se ha Agregado ningún Ejemplar!
			</div>
			{% endif %}
		</tbody>
	</table>

</div>

{% endblock %}
