{% extends 'base/base.html'%}
{% block title %}Clientes{% endblock %}
{% block Apartado%}
<div class="alert alert-secondary" role="alert">
  <h4 style=" text-align: center;">Editar datos de Cliente</h4>
</div>
{% endblock %}
{%block links%}
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active">Lista de enlaces</a>
    <a href="{%url 'constructora:empleado'%}" class="list-group-item list-group-item-action">Empleados</a>
    <a href="{%url 'constructora:nuevoEmpleado'%}" class="list-group-item list-group-item-action">Nuevo empleado</a>
    <a href="{%url 'constructora:contrato'%}" class="list-group-item list-group-item-action">Contrato</a>
</div>
{%endblock%}  

{% block contenido %}
<div class= "container">
	<div class= "row">
		<section class="col-md-12">
			<div class= "container">
				<form method="POST" name="form1">
					{% csrf_token %}		
					<fieldset class="groupbox">
               		 	<legend >Editar Cliente</legend>
	                    <div class="row">
	                        <div class="col-md-6" ">
	                        	<div>
	                                <label>Nombre: </label>
	                                <br/>
	                                {{form.nombreCliente}}
                            	</div>		                        
			         			<br/>
								<div>
	                                <label>Direccion: </label>
	                                <br/>
	                                {{form.direccion}}
                            	</div>		                        
			         			<br/>
			         			<div>
	                                <label>Email: </label>
	                                <br/>
	                                {{form.email}}

                            	</div>		                        
			         			<br/>
			         			
	                        </div>
	        
		                    <div class="col-md-6">
		                        <div>
	                                <label>Nit: </label>
	                                <br/>
	                                {{form.nit}}
                            	</div>		                        
			         			<br/>
			         				<div>
	                                <label>giro: </label>
	                                <br/>
	                                {{form.giro}}
                            	</div>		                        
			         			<br/>	  
			         			<div>
	                                <label>Telefono: </label>
	                                <br/>
	                                {{form.numTelefono}}
                            	</div>	
			         			<br/>	  
		                    </div>
	        
	                	</div>
	                 </fieldset>			                 			         			         				         	
	                 <br/>		                    
            
            
        
                    <div class="btnAñadir">
                        <input class="btn btn-success" style="margin-left:10%" type="submit" value="Guardar">
                        
                    </div>
               	                
		        </form>        
			</div>		
		</section>
	</div>	
	</div>
{% endblock %}